:root {
    --grey-light: #f2f7f9;
    --grey: #ecedf3;
    --color-white: #fff;
    --color-black:#000;
  
    --color-special-color: #eff30e;
    --color-button-hover: #59c378;
    
   
    --primary-color:#11772f;
  
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html{
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family: poppins, sans-serif !important;
    font-size: .88rem;
    min-height: 100%;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    transition: all .5s ease-in-out;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100vw;
    padding-top:90px;
    position: relative;
    background-color: var(--color-black);
    color: var(--color-white);  
  
}

#root {
    overflow-x: hidden;
}

.bg-color {
    background-color: #0d012c !important;
    color: white !important;

}
p {
    font-size: 16px;
}

.title p {
    font-size: 16px;
}

a {
    font-size: 16px !important;
}
.h2 {
    color: #59c378 !important;
}
