/* :root {
    --grey-light: #f2f7f9;
    --grey: #ecedf3;
    --color-white: #fff;
    

    --color-button-hover: #59c378;
   
    --card-box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, .1) !important;
    --card-box-shadow-hover: 0px 30px 60px 0px rgba(0, 0, 0, .1) !important;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body {
    background: var(--color-background) !important;
    font-family: poppins, sans-serif !important;
    font-size: .88rem;
    height: 100vh;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    transition: all .5s ease-in-out;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100vw;
    color: white;
    padding-top:90px;
  
}

#root {
    overflow-x: hidden;
}

.bg-color {
    background-color: #0d012c !important;
    color: white !important;

}
p {
    font-size: 18px;
}

.title p {
    font-size: 16px;
}

a {
    font-size: 16px !important;
}
.h2 {
    color: #59c378 !important;
} */



.theme-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #f8f9fa;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: fixed;
    right: 30px;
    bottom: 100px;
    z-index: 9999;
  }
  
  .theme-toggler:hover {
    background-color: #e2e6ea;
    color: #000;
  }
  
  .theme-toggler svg {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
  }
  .scroll-to-top{
    right: 30 !important;
  }
  
 